body {
  background-color: rgb(6, 8, 33);
  animation-name: fade-in;
  animation-duration: 2s;
  overflow-y: scroll;
}
#title {
  margin-top: 2rem;
  padding: 1rem;
  color: rgb(13, 202, 240);
  background-color: rgb(53, 61, 95);
  border-radius: 6em;
  animation-name: fade-in;
  animation-duration: 2s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.max {
  padding: 0 !important;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(53, 61, 95);
}

::-webkit-scrollbar-track {
  background-color: #d4e8ef;
}
.fa-moon {
  color: rgb(38, 94, 122);
  padding: 3px;
}
.fa-sun {
  color: rgb(205, 232, 255);
  padding: 3px;
}
.fa-moon:hover,
.fa-sun:hover {
  color: rgb(13, 202, 240);
}
.preview img {
  display: block;
  max-width: 60%;
  margin: 2rem auto;
}
.footer {
  text-align: center;
  color: rgb(205, 232, 255);
  font-size: 0.8rem;
}
.nana {
  text-decoration: none;
  color: rgb(205, 232, 255);
  font-style: italic;
}
.nana:hover {
  color: rgb(13, 202, 240);
}
